<h2>Select Your Ingredients</h2>
<div class="ingredients">
  <div tabindex="0" *ngFor="let ingredient of ingredients" class="ingredients__item" [class.ingredients__item--selected]="ingredient.selected" (click)="toggleIngredient(ingredient)">
    {{ ingredient.name }}
    <span *ngIf="ingredient.selected">-</span>
    <span *ngIf="!ingredient.selected">+</span>
  </div>
</div>
<h2>Cocktail Recipes</h2>
<div class="recipe-list" *ngIf="availableCocktails.length">
  <app-recipe-card class="recipe-list__item" *ngFor="let cocktail of availableCocktails" [recipe]="cocktail"></app-recipe-card>
</div>
<div *ngIf="!availableCocktails.length">
  Oh no! 😭 You don't have enough ingredients to make anything.
</div>