:host {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bgimg-logo {
    background-image: url(./../assets/doug_cocktail.png);
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.h-200px {
    height: 200px;
}

.w-200px {
    width: 200px;
}

.nmt-100px {
    margin-top: -100px;
}

.mt-100px {
    margin-top: 100px;
}

.br-100px {
    border-radius: 100px;
}

.basis-100 {
    flex-basis: 100%;
}