/* You can add global styles to this file, and also import other style files */
@import 'tachyons';

body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(45deg, #FC466B 0%, #3F5EFB 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}